extends ../layouts/default

block main
  .container-fluid
    .row
      .span2
      .span10.hero-unit.boxed
        h2='Comcast Labs Conference UI'
        br
        p='Please login in order to administrate and control your conference '
        p=''
        a.btn.btn-primary.btn-large(href='https://github.com/Comcast/esl-conference')="Fork me"
block extrajs

