if(state==='waiting')
  ul.nav.nav-list
    li.nav-header WebRTC Call
    li Connecting To Conference
else if(state === 'connected')
  ul.nav.nav-list
    li.nav-header WebRTC Call
    li Connected To Conference
else if(state === 'disconnected')
  ul.nav.nav-list
    li.nav-header WebRTC Call
    li Disconnected From Conference

